<div id="modal" class="hide">
  <div class="content">
  <h1>Nova ideia</h1>
  
  <form action="/" method="POST" onsubmit="return checkFields(event)">
  
  
  <div class="input-wrapper">
  <label for="title">Título da Ideia</label>
  <input type="text" name="title">
  </div>
  
  <div class="input-wrapper">
  <label for="Category">Categoria</label>
  <input type="text" name="Category">
  </div>
  
  <div class="input-wrapper">
  <label for="image">Link da Imagem</label>
  <input type="url" name="image">
  </div>
  
  <div class="input-wrapper">
  <label for="description">Digite uma descrição para essa ideia</label>
  <textarea name="description" cols="30" rows="10"></textarea>
  </div>
  
  <div class="input-wrapper">
  <label for="Link">Link da Ideia</label>
  <input type="url" name="Link">
  </div>
  
  <a href="#"onclick="onOff()">voltar</a>
  <button>Salvar</button>
  
  </form>
  
  </div>
  </div>